# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General ===


# === Metaflow ===
METAFLOW_S3_ENDPOINT_URL=
METAFLOW_DATASTORE_SYSROOT_S3=
METAFLOW_DATATOOLS_SYSROOT_S3=
METAFLOW_DEFAULT_DATASTORE=
METAFLOW_DEFAULT_METADATA=
METAFLOW_SERVICE_INTERNAL_URL=
METAFLOW_SERVICE_URL=